*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --azul-10: #eaf2fd;
  --azul-100: #2a7ae4;
  --preto-05: #f5f5f5;
  --preto-100: #464646;
  --preto-30: #c8c8c8;
  --preto-50: #a2a2a2;

  --preto-branco: #fff;
}

/* Html {
  font-size: 62, 5%;
} */

body {
  margin: 0 auto;
  width: 1440px;
  height: 5020px;
  font-family: "Raleway", sans-serif;
  background: var(--preto-05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* BARRA DE NAVEGACAO ------------------------------------ */

header {
  display: flex;
  width: 71rem;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  color: var(--preto-100);
  margin: 0 auto;
}
.logo-img {
  display: flex;
}

.menu-contato {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu-list {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  list-style: none;
}

/* INTRODUCAO ------------------------------------------ */

.section-hero {
  width: 71rem;
  color: var(--preto-100, #464646);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-div {
  width: 46.9375rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.hero_texto-principal {
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
}

.hero_texto-apoio {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
}

.hero-div ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.hero_lista_li {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.foto-unsplash {
  width: 23rem;
  height: 23rem;
  flex-shrink: 0;
}

/* SOBRE MIM - AREA---------------------------------------- */

.sobre-min {
  width: 100%;
  padding: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--azul-10);
}

.sobre-min_main {
  display: flex;
  width: 71rem;
  gap: 1rem;
  flex-direction: column;
}

.sobre-min_principal {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  color: var(--preto-100, #464646);
}

.sobre-min_apoio {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--preto-100, #464646);
  width: 46.9375rem;
}

.sobre-min_imagem {
  width: 8.75rem;
  height: 3.25rem;
}

/* SKILLS E HOBBIES------------------------------------- */

.skills-hobbies {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  align-items: center;
  width: 100%;
}

.skills,
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.skills_texto,
.hobbies_texto,
.formacao_texto {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  color: var(--preto-100, #464646);
}

.skills_ferramentas,
.hobbies_lazer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.skills_ferramentas > * {
  display: flex;
  width: 11rem;
  height: 10.875rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  background: var(--preto-branco);
}

.hobbies_lazer > * {
  display: flex;
  width: 11rem;
  height: 10.875rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  background: var(--preto-branco);
}

.skills_ferramentas-texto,
.hobbies_lazer-texto {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

i {
  color: var(--azul-100);
  font-size: 2rem;
}

.hobbies_lazer-img {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.formacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: var(--azul-10, #eaf2fd);
  padding: 5.125rem;
  width: 100%;
}

.formacao_escolaridade {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.formacao_escolaridade-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.formacao_escolaridade-imgBox {
  display: flex;
  width: 23rem;
  height: 17.875rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 23rem;
  height: 17.875rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: var(--preto-branco, #fff);
}

.formacao_escolaridade-img {
  height: 8.125rem;
  flex-shrink: 0;
}

.formacao_escolaridade-texto {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  color: var(--preto-100, #464646);
}

.formacao_escolaridade-textoApoio {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
