*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

:root {
  --azul-10: #eaf2fd;
  --azul-100: #2a7ae4;
  --preto-05: #f5f5f5;
  --preto-100: #464646;
  --preto-30: #c8c8c8;
  --preto-50: #a2a2a2;
  --preto-branco: #fff;
}

/* Html {
  font-size: 62, 5%;
} */

body {
  align-items: center;
  background: var(--preto-05);
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  gap: 2rem;
  margin: 0 auto;
  width: 1440px;
}

/* BARRA DE NAVEGACAO ------------------------------------ */

header {
  align-items: center;
  color: var(--preto-100);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0;
  width: 71rem;
  
}
.logo-img {
  display: flex;
}

.menu-contato {
  align-items: center;
  display: flex;
  gap: 2rem;
}
.menu-list {
  display: flex;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  gap: 2rem;
  list-style: none;
}

a:link, a:visited{
  text-decoration: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  color: var(--preto-100);
}

/* INTRODUCAO ------------------------------------------ */

.section-hero {
  align-items: center;
  color: var(--preto-100, #464646);
  display: flex;
  justify-content: space-between;
  width: 71rem;
}

.hero-div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 46.9375rem;
}

.hero_texto-principal {
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
}

.hero_texto-apoio {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
}

.hero-div ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.hero_lista_li {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  gap: 0.25rem;
}

.foto-unsplash {
  flex-shrink: 0;
  height: 23rem;
  width: 23rem;
}

/* SOBRE MIM - AREA---------------------------------------- */

.sobre-min {
  align-items: center;
  background: var(--azul-10);
  display: flex;
  justify-content: center;
  padding: 4rem;
  width: 100%;
}

.sobre-min_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 71rem;
}

.sobre-min_principal {
  color: var(--preto-100, #464646);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.sobre-min_apoio {
  color: var(--preto-100, #464646);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 46.9375rem;
}

.sobre-min_imagem {
  height: 3.25rem;
  width: 8.75rem;
}

/* SKILLS E HOBBIES------------------------------------- */

.skills-hobbies {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  width: 100%;
}

.skills,
.hobbies {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills_texto,
.hobbies_texto,
.formacao_texto {
  color: var(--preto-100, #464646);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.skills_ferramentas,
.hobbies_lazer {
  align-items: flex-start;
  display: flex;
  gap: 1rem;
}

.skills_ferramentas > * {
  align-items: flex-start;
  background: var(--preto-branco);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 10.875rem;
  justify-content: flex-end;
  padding: 1rem;
  width: 11rem;
}

.hobbies_lazer > * {
  align-items: flex-start;
  background: var(--preto-branco);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 10.875rem;
  justify-content: flex-end;
  padding: 1rem;
  width: 11rem;
}

.skills_ferramentas-texto,
.hobbies_lazer-texto {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

i {
  color: var(--azul-100);
  font-size: 2rem;
}

.hobbies_lazer-img {
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
}

.formacao {
  align-items: center;
  background: var(--azul-10, #eaf2fd);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5.125rem;
  width: 100%;
}

.formacao_escolaridade {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.formacao_escolaridade-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formacao_escolaridade-imgBox {
  align-items: center;
  align-items: center;
  background: var(--preto-branco, #fff);
  display: flex;
  display: flex;
  gap: 0.625rem;
  height: 17.875rem;
  height: 17.875rem;
  justify-content: center;
  justify-content: center;
  padding: 1rem;
  padding: 1rem;
  width: 23rem;
  width: 23rem;
}

.formacao_escolaridade-img {
  flex-shrink: 0;
  height: 8.125rem;
}

.formacao_escolaridade-texto {
  color: var(--preto-100, #464646);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
}

.formacao_escolaridade-textoApoio {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

/* AREA EXPERIENCIA PROFISSIONAL ------------------------------------- */

.experiencia-profissional {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experiencia-profissional_textoPrincipal {
  color: var(--preto-100, #464646);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.experiencia-profissional_itens {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.experiencia-profissional_itensBox {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 25.375rem;
  width: 71rem;
}

.experiencia-profissional_itensBox-reverse {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  height: 25.375rem;
  justify-content: start;
  width: 71rem;
}

.experiencia-profissional_descricao {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experiencia-profissional_descricao-textoPrincipal {
  color: var(--preto-100, #464646);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
}

.experiencia-profissional_descricao-textoApoio {
  color: var(--preto-100, #464646);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.experiencia-profissional_descricao-btn {
  display: flex;
  gap: 1rem;

  justify-content: start;
  /* align-items: flex-start; */
}

.experiencia-profissional_descricao-btn1 {
  border: 1px solid var(--azul-100, #2a7ae4);
  color: var(--azul-100, #2a7ae4);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  height: 3.1875rem;
  padding: 1rem;
}

.experiencia-profissional_descricao-btn2 {
  background: var(--azul-100, #2a7ae4);
  border: 1px solid var(--azul-100, #2a7ae4);
  color: var(--preto-branco, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  height: 3.1875rem;
  padding: 1rem;
}

/* AREA DO CONTATO --------------------------------------------------------- */

.contato {
  align-items: center;
  background: var(--azul-10, #eaf2fd);
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 90rem;
}

.contato_box {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding-top: 64px;
  width: 71rem;
}

.contato_box-img {
  flex-shrink: 0;
  height: 37.0625rem;
  width: 29rem;
}

.contato_box_contato {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 2rem;
}

.contato_box_contato-topo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contato_box_contato-topo-textoPrincipal {
  color: var(--preto-100, #464646);
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contato_box_contato-topo-textoApoio {
  color: var(--preto-100, #464646);
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 41rem;
}

/* hr {
  width: 41rem;
  height: 0.0625rem;
  background: var(--preto-30, #c8c8c8);
} */

.contato_box_campos {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contato_box_campos-item {
  align-items: flex-start;
  align-self: stretch;
  background: var(--preto-branco, #fff);
  border-radius: 0.25rem;

  box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);

  display: flex;
  flex-direction: column;

  gap: 0.4375rem;
  justify-content: flex-end;

  padding-bottom: 0.44rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 8px;
}

.contato_box_campos-item:focus-within .contato_box_campos-inputLabel {
  color: var(--azul-100);
}

.contato_box_campos-item:focus-within {
  align-items: flex-start;
  align-self: stretch;
  background: var(--preto-branco, #fff);
  box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;

  gap: 0.4375rem;
  justify-content: flex-end;

  padding-bottom: 0.44rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 8px;
}

.contato_box_campos-item-noLabel:focus-within {
  background: var(--preto-branco, #fff);
  box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
}

.contato_box_campos-item-noLabelMessage:focus-within {
  background: var(--preto-branco, #fff);
  box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(42, 122, 228, 1);
}

.contato_box_campos-item-noLabel {
  align-items: flex-start;
  align-self: stretch;
  background: var(--preto-branco, #fff);
  border-radius: 0.25rem;

  box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);
  height: 3.5rem;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;

  padding-bottom: 0.94rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;

  color: var(--preto-50, #a2a2a2);
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.contato_box_campos-item-noLabelMessage {
  align-items: flex-start;
  align-self: stretch;
  background: var(--preto-branco, #fff);
  border-radius: 0.25rem;

  box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(200, 200, 200, 1);

  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  padding-bottom: 0.9375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 16px;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--preto-100);
  width: 100%;
  height: 7.9rem;
}

.contato_box_campos-inputLabel {
  color: var(--preto-50, #a2a2a2);

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}

.contato_box_campos-input {
  border: none;
  color: var(--preto-100, #464646);
  width: 100%;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.contato_box_campos-input-message {
  border: none;
  color: var(--preto-100, #464646);
  width: 100%;
  height: 7.9rem;

  white-space: pre-wrap;

  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;

  resize: none; /* Impede o redimensionamento pelo usuário */
}

.linha_azul {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contato_box_contato-btn2 {
  align-items: center;
  background: var(--azul-100, #2a7ae4);
  border: 1px solid var(--azul-100, #2a7ae4);
  color: var(--preto-branco, #fff);
  display: flex;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  gap: 0.625rem;
  height: 3.1875rem;
  justify-content: center;
  padding: 1rem;
}

/* AREA DO FOOTER -------------------------------------- */

footer {
  margin-top: -2rem;
  align-items: center;
  background: var(--preto-branco, #fff);
  color: var(--preto-100, #464646);
  display: flex;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  line-height: normal;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
